---
---
<!doctype html>
<html>
{% include head.html title="View sam alignment" %}

<script type="text/javascript">

function convert_and_view(args)
{


 	function paf_sam2paf(text, aliFormat)
	{
		var list_result = [];
		var next_line = null;
		var contigs = [];
		var c, pri_only = false, long_cs = true; // long_cs activated by default to be able to create maf alignment
		var lines = text.split('\n');
		var re = /(\d+)([MIDSHNX=])/g, re_MD = /(\d+)|(\^[A-Za-z]+)|([A-Za-z])/g, re_tag = /\t(\S\S:[AZif]):(\S+)/g;

		var ctg_len = {}, lineno = 0;
		for(var i = 0; i < lines.length; i++){
			var m, n_cigar = 0;
			var line = lines[i];
			++lineno;
			// skip empty line
			if (line.length == 0) {
				continue
			}
			if (line.charAt(0) == '@') {
				if (/^@SQ/.test(line)) {
					var name = (m = /\tSN:(\S+)/.exec(line)) != null? m[1] : null;
					var l = (m = /\tLN:(\d+)/.exec(line)) != null? parseInt(m[1]) : null;
					if (name != null && l != null) ctg_len[name] = l;
				}
				continue;
			}
			var t = line.split("\t", 11);
			var flag = parseInt(t[1]);
			if (t[9] != '*' && t[10] != '*' && t[9].length != t[10].length){
				message.push("Error at line " + lineno + "(" + t[0] + "): inconsistent SEQ and QUAL lengths - " + t[9].length + " != " + t[10].length);
				continue
			}
			if (t[2] == '*' || (flag&4) || t[5] == '*') continue;
			if (pri_only && (flag&0x100)) continue;

			var tlen = ctg_len[t[2]];
			if (tlen == null){
				if(aliFormat == "maf" || aliFormat == "aln"){ // message needed only for maf and aln because it is the only formats for which we use this information
						// warn only once per contig
						var index = contigs.findIndex(x => x.name==t[2]);
						if (index === -1){
							contigs.push({name:t[2]});
							message.push("warning: Can't find the length of contig " + t[2] + ", value set to 'unknown'");
						}
				}
				tlen = "unknown";
			}

			// find tags
			var nn = 0, NM = null, MD = null, cs_str = null, md_list = [];
			while ((m = re_tag.exec(line)) != null) {
				if (m[1] == "NM:i") NM = parseInt(m[2]);
				else if (m[1] == "nn:i") nn = parseInt(m[2]);
				else if (m[1] == "MD:Z") MD = m[2];
				else if (m[1] == "cs:Z") cs_str = m[2];
			}
			if (t[9] == '*') MD = cs_str = null;
			// infer various lengths from CIGAR
			var clip = [0, 0], soft_clip = 0, I = [0, 0], D = [0, 0], M = 0, N = 0, mm = 0, have_M = false, have_ext = false, cigar = [];
			while ((m = re.exec(t[5])) != null) {
				var l = parseInt(m[1]), op = m[2];
				if (op == 'M') M += l, have_M = true;
				else if (op == 'I') ++I[0], I[1] += l;
				else if (op == 'D') ++D[0], D[1] += l;
				else if (op == 'N') N += l;
				else if (op == 'S') clip[n_cigar == 0? 0 : 1] = l, soft_clip += l;
				else if (op == 'H') clip[n_cigar == 0? 0 : 1] = l;
				else if (op == '=') M += l, have_ext = true, op = 'M';
				else if (op == 'X') M += l, mm += l, have_ext = true, op = 'M';
				++n_cigar;
				if (MD != null && op != 'H') {
					if (cigar.length > 0 && cigar[cigar.length-1][1] == op)
						cigar[cigar.length-1][0] += l;
					else cigar.push([l, op]);
				}
			}
			var ql = M + I[1] + soft_clip;
			var tl = M + D[1] + N;
			var ts = parseInt(t[3]) - 1, te = ts + tl;
			// checking coordinate and length consistencies
			if (n_cigar > 65535)
				message.push("WARNING at line " + lineno + ": " + n_cigar + " CIGAR operations");
			if (t[9] != '*' && t[9].length != ql){
				message.push("WARNING at line " + lineno + ": SEQ length inconsistent with CIGAR (" + t[9].length + " != " + ql + "); skipped");
			    continue;
			}
			// parse MD
			var cs = [];
			if (MD != null && cs_str == null && t[9] != "*") {
				var k = 0, cx = 0, cy = 0, mx = 0, my = 0; // cx: cigar ref position; cy: cigar query; mx: MD ref; my: MD query
				while ((m = re_MD.exec(MD)) != null) {
					if (m[2] != null) { // deletion from the reference
						var len = m[2].length - 1;
						cs.push('-', m[2].substr(1));
						mx += len, cx += len, ++k;
					} else { // copy or mismatch
						var ml = m[1] != null? parseInt(m[1]) : 1;
						while (k < cigar.length && cigar[k][1] != 'D') {
							var cl = cigar[k][0], op = cigar[k][1];
							if (op == 'M') {
								if (my + ml < cy + cl) {
									if (ml > 0) {
										if (m[3] != null) cs.push('*', m[3], t[9][my]);
										else if (long_cs) cs.push('=', t[9].substr(my, ml));
										else cs.push(':', ml);
									}
									mx += ml, my += ml, ml = 0;
									break;
								} else {
									var dl = cy + cl - my;
									if (long_cs) cs.push('=', t[9].substr(my, dl));
									else cs.push(':', dl);
									cx += cl, cy += cl, ++k;
									mx += dl, my += dl, ml -= dl;
								}
							} else if (op == 'I') {
								cs.push('+', t[9].substr(cy, cl));
								cy += cl, my += cl, ++k;
							} else if (op == 'S') {
								cy += cl, my += cl, ++k;
							}
							else{
								message.push("Error at line " + lineno + "(" + t[0] + "): inconsistent MD tag");
								next_line = 1;
								break;
							}
						}
						if (ml != 0 && !next_line){
							message.push("Error at line " + lineno + "(" + t[0] + "): inconsistent MD tag");
							next_line = 1;
							continue
						}
					}
					if (next_line){
						break;
					}
				}
				if(next_line){
					next_line = null;
					continue;
				}
				if (cx != mx || cy != my){
					message.push("Error at line " + lineno + "(" + t[0] + "): inconsistent MD tag");
					next_line = 1;
					continue
				}
			}
			// compute matching length, block length and calibrate NM
			if (have_ext && !have_M) { // extended CIGAR
				if (NM != null && NM != I[1] + D[1] + mm)
					message.push("WARNING at line " + lineno + ": NM is different from sum of gaps and mismatches");
				NM = I[1] + D[1] + mm;
			} else if (NM != null) { // standard CIGAR; NM present
				if (NM < I[1] + D[1]) {
					message.push("WARNING at line " + lineno + ": NM is less than the total number of gaps (" + NM + " < " + (I[1]+D[1]) + ")");
					NM = I[1] + D[1];
				}
				mm = NM - (I[1] + D[1]);
			} else { // no way to compute mm
				message.push("WARNING at line " + lineno + ": unable to find the number of mismatches; assuming zero");
				mm = 0;
			}
			var mlen = M - mm;
			var blen = M + I[1] + D[1];
			// find query name, start and end
			var qlen = M + I[1] + clip[0] + clip[1];
			var qname = t[0], qs, qe;
			if ((flag&1) && (flag&0x40)) qname += '/1';
			if ((flag&1) && (flag&0x80)) qname += '/2';
			if (flag&16) qs = clip[1], qe = qlen - clip[0];
			else qs = clip[0], qe = qlen - clip[1];
			// optional tags
			var type = flag&0x100? 'S' : 'P';
			var tags = ["tp:A:" + type];
			if (NM != null) tags.push("mm:i:"+mm);
			tags.push("gn:i:"+(I[1]+D[1]), "go:i:"+(I[0]+D[0]), "cg:Z:" + t[5].replace(/\d+[SH]/g, ''));
			if (cs_str != null) tags.push("cs:Z:" + cs_str);
			else if (cs.length > 0) tags.push("cs:Z:" + cs.join(""));
			// print out
			// we cheat on the length of the contig because we do not have the header to take it from
			var a = [qname, qlen, qs, qe, flag&16? '-' : '+', t[2], tlen, ts, te, mlen, blen, t[4]];
			list_result.push(a.join("\t")+"\t"+tags.join("\t")+"\n");
		}
		return list_result;
	}

	function paf_view(paf_list, fmt)
	{
		var view_result = [];
		var one_view = [];
		var c, line_len = 80;

		function padding_str(x, len, right)
		{
			var s = x.toString();
			if (s.length < len) {
				if (right) s += Array(len - s.length + 1).join(" ");
				else s = Array(len - s.length + 1).join(" ") + s;
			}
			return s;
		}

		function update_aln(s_ref, s_qry, s_mid, type, seq, slen)
		{
			var l = type == '*'? 1 : seq.length;
			if (type == '=' || type == ':') {
				s_ref.push(seq);
				s_qry.push(seq);
				s_mid.push(Array(l+1).join("|"));
				slen[0] += l, slen[1] += l;
			} else if (type == '*') {
				s_ref.push(seq.charAt(0));
				s_qry.push(seq.charAt(1));
				s_mid.push(' ');
				slen[0] += 1, slen[1] += 1;
			} else if (type == '+') {
				s_ref.push(Array(l+1).join("-"));
				s_qry.push(seq);
				s_mid.push(Array(l+1).join(" "));
				slen[1] += l;
			} else if (type == '-') {
				s_ref.push(seq);
				s_qry.push(Array(l+1).join("-"));
				s_mid.push(Array(l+1).join(" "));
				slen[0] += l;
			}
		}

		function print_aln(rs, qs, strand, slen, elen, s_ref, s_qry, s_mid)
		{
			one_view.push(["Ref+:", padding_str(rs + slen[0] + 1, 10, false), s_ref.join(""), padding_str(rs + elen[0], 10, true)].join(" "));
			one_view.push("                 " + s_mid.join(""));
			var st, en;
			if (strand == '+') st = qs + slen[1] + 1, en = qs + elen[1];
			else st = qs - slen[1], en = qs - elen[1] + 1;
			one_view.push(["Qry" + strand + ":", padding_str(st, 10, false), s_qry.join(""), padding_str(en, 10, true)].join(" "));
		}

		var s_ref = [];
		var s_qry = [];
		var s_mid = []; // these are used to show padded alignment
		var re_cs = /([:=\-\+\*])(\d+|[A-Za-z]+)/g;
		var re_cg = /(\d+)([MIDNSH])/g;

		var lineno = 0;
		if (fmt == "maf") one_view.push("##maf version=1\n");

		for(var i = 0; i < paf_list.length; i++){
			var m, line = paf_list[i];
			var t = line.split("\t", 12);
			if (line.startsWith("warn")){
				view_result.push(line);
				continue;
			}
			++lineno;
			s_ref.length = s_qry.length = s_mid.length = 0;
			var slen = [0, 0], elen = [0, 0];
			if (fmt == "lastz-cigar") { // LASTZ-cigar output
				var cg = (m = /\tcg:Z:(\S+)/.exec(line)) != null? m[1] : null;
				if (cg == null) {
					view_result.push("WARNING: converting to LASTZ-cigar format requires the 'cg' tag, which is absent on line " + lineno);
					continue;
				}
				var score = (m = /\tAS:i:(\d+)/.exec(line)) != null? m[1] : 0;
				var out = ['cigar:', t[0], t[2], t[3], t[4], t[5], t[7], t[8], '+', score];
				while ((m = re_cg.exec(cg)) != null)
					out.push(m[2], m[1]);
				view_result.push(out.join(" "));
			}
			else if (fmt == "maf") { // MAF output
				var cs = (m = /\tcs:Z:(\S+)/.exec(line)) != null? m[1] : null;
				if (cs == null) {
					one_view.push("WARNING: converting to MAF requires the 'cs' tag, which is absent on line " + lineno);
					continue;
				}
				while ((m = re_cs.exec(cs)) != null) {
					if (m[1] == ':'){
						one_view.push("converting to MAF only works with 'minimap2 --cs=long'");
						return one_view.join("");
					}
					update_aln(s_ref, s_qry, s_mid, m[1], m[2], elen);
				}
				var score = (m = /\tAS:i:(\d+)/.exec(line)) != null? parseInt(m[1]) : 0;
				var len = t[0].length > t[5].length? t[0].length : t[5].length;
				one_view.push("a " + score);
				one_view.push(["s", padding_str(t[5], len, true), padding_str(t[7], 10, false), padding_str(parseInt(t[8]) - parseInt(t[7]), 10, false),
						"+", padding_str(t[6], 10, false), s_ref.join("")].join(" "));
				var qs, qe, ql = parseInt(t[1]);
				if (t[4] == '+') {
					qs = parseInt(t[2]);
					qe = parseInt(t[3]);
				} else {
					qs = ql - parseInt(t[3]);
					qe = ql - parseInt(t[2]);
				}
				one_view.push(["s", padding_str(t[0], len, true), padding_str(qs, 10, false), padding_str(qe - qs, 10, false),
						t[4], padding_str(ql, 10, false), s_qry.join("")].join(" "));
				one_view.push("");
			    view_result.push(one_view.join("\n"))
				one_view = [];
			}
			else { // BLAST-like output
				var cs = (m = /\tcs:Z:(\S+)/.exec(line)) != null? m[1] : null;
				if (cs == null) {
					one_view.push("WARNING: converting to BLAST-like alignment requires the 'cs' tag, which is absent on line " + lineno);
					continue;
				}
				line = line.replace(/\tc[sg]:Z:\S+/g, ""); // get rid of cs or cg tags
				line = line.replace(/\s*$/, "") // remove trailing \n
				one_view.push('>' + line);
				var rs = parseInt(t[7]), qs = t[4] == '+'? parseInt(t[2]) : parseInt(t[3]);
				var n_blocks = 0;
				while ((m = re_cs.exec(cs)) != null) {

					if (m[1] == ':') m[2] = Array(parseInt(m[2]) + 1).join("=");
					var start = 0, rest = m[1] == '*'? 1 : m[2].length;

					while (rest > 0) {
						var l_proc;

						if (s_ref.length + rest >= line_len) {
							l_proc = line_len - s_ref.length;
							update_aln(s_ref, s_qry, s_mid, m[1], m[1] == '*'? m[2] : m[2].substr(start, l_proc), elen);
							if (n_blocks > 0) one_view.push("");
							print_aln(rs, qs, t[4], slen, elen, s_ref, s_qry, s_mid);
							++n_blocks;
							s_ref.length = s_qry.length = s_mid.length = 0;
							slen[0] = elen[0], slen[1] = elen[1];
						} else {
							l_proc = rest;
							update_aln(s_ref, s_qry, s_mid, m[1], m[1] == '*'? m[2] : m[2].substr(start, l_proc), elen);
						}
						rest -= l_proc, start += l_proc;
					}
				}
				if (s_ref.length > 0) {
					if (n_blocks > 0) one_view.push("");
					print_aln(rs, qs, t[4], slen, elen, s_ref, s_qry, s_mid);
					++n_blocks;
				}
				one_view.push("//");
				view_result.push(one_view.join("\n"))
				one_view = [];
			}
		}
		return view_result.join("\n");
    }

	// get messages when working
	var message = [];
	// get value
	var input = document.getElementById('input').value;
	// skip empty value
	if (/^(""|''|)$/.test(input) || input == null){ return}
    // check column number
	var array = input.split("\t", 11);
	var size = array.length;
	if(size < 11){
		document.getElementById('output').innerHTML = "It does not look like a Read in SAM format!";
		return;
	}
	else{
		var aliFormat = document.querySelector('input[name="format"]:checked').value;
		var paf_list   = paf_sam2paf(input, aliFormat);
		console.log(aliFormat);
		var draw_list   = paf_view(paf_list, aliFormat);
		var resultPrefix = "<strong>Result: </strong>";
		document.getElementById('output').innerHTML = resultPrefix + "</br>" + message.join("\n") + "</br></br>" + draw_list;
	}
}

</script>

<noscript>This page requires JavaScript. Please enable it in your browser settings.</noscript>

<body>
<div class="wrapper">
	{% include header.html %}

	<h2>De-novo representation of a read alignment from SAM format</h2>
	<section>

		<p>This utility makes it easy to visualise a read alignment against its reference wihtout the reference. Indeed the reference is re-created based on the CIGAR string + the MD tag.</p>

		<form onSubmit="setFormat(); return false;" action="">
			<strong>Select alignment type: </strong><br />
			<input checked type="radio" name="format" value="aln">aln</input>
			<input type="radio" name="format" value="lastz-cigar">lastz-cigar</input>
			<input type="radio" name="format" value="maf">maf</input>
			<br />
		</form>

		<h4>Enter a read in SAM format in the box below:<br /></h4>
		<form onSubmit="convert_and_view(this.submitted); return false;" action="">
			<textarea id="input" name="input" cols="80" rows="2"></textarea>
			<br />
			<input type=submit onclick="this.form.submitted=this.value;" value="Submit" />
			<br />
		</form>
		<br />
		<p>Need a read to test? Try this one:</p>
		<p>
		D00118:252:C86N9ANXX:2:2307:2348:68874	1171	scaffold1	8697	60	125M	=	8521	-302	TAAATATGAGTCTGAAGGTGGCTTGAAGGAAAGCATCGGTGCCTGATTCCGGGAACTTTTCCATTGATATTGAGAAGTTTGAATTTGCTAAAAAAAAAGTCAAATTTCCAGACTCTAGGGAAAAA	=G@D///C/C0;0@@=BD8@C<F8@D<;00>C.<.</G@0<>0=00C<</@C=111<=E1EBC1<1E:1@::1=1E1>111@>GE1?10E</<1CFE=1:>1GD@E1F;FB@111;EGBBBBBCB	AS:i:-21	XN:i:0	XM:i:7	XO:i:0	XG:i:0	NM:i:7	MD:Z:28A0G24G19T16C1C7G23	YS:i:-1	YT:Z:CP	NH:i:1
		</p>
	
		<hr />
		<pre>
		<p id="output" style="word-break: break-all"></p>
		</pre>
	</section>

</div>
{% include footer.html %}
</body>
</html>
