			<header>
			<h1>ReadViewer</h1>
 <!--			<p><a href="https://travis-ci.org/Juke34/ReadViewer"><img src="https://travis-ci.org/Juke34/ReadViewer.svg?branch=master" alt="Build Status"></a></p>-->
			<p>A small utility to visualise read alignment directly from sam format without reference.</p>
			<p class="view"><a href="https://github.com/Juke34/ReadViewer">View the Project on GitHub <small>Juke34/ReadViewer</small></a></p>
			<ul>
				<li><a href="https://github.com/Juke34/ReadViewer">View On <strong>GitHub</strong></a></li>
			</ul>
			</header>
